/**********************Tags**********************/
  body {
    background-color: #FBF2D5;
  }
  hr {
    border-style: dotted none none;
    border-width: 10px;
    border-color: #FDC57B;
    width: 5%;
  }

/**********************Class selectors**********************/

/**********************ID selectors**********************/
